*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}


body{
    color: #ededed;
    background: url(PRODIGY+BRAND+BOOK+FINAL.png );
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 10% ;
    background: #051129;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.navbar a{
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;

}

.navbar a:hover{
    color: #0ef;
    font-size: 30px;
}


.home{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 25px 10% 0;
}


.home-content{
    max-width: 600px;
}

.home-content h3{
    font-size: 32px;
    font-weight: 600;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content p{
    font-size: 18px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transform: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var);
}

.home-sci a:hover{
    background-color: #0ef;
    color: black;
    box-shadow: 0 0 20px #0ef;
}

.about-box{
    display: inline-block;
    padding: 12px 30px;
    background-color:#0ef;
    border-radius: 40px;
    font-size: 20px;
    letter-spacing: 1px;
    color: black;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1.5s;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef
}

.about-box:hover{
    background-color: #0ef;
    color: black;
    box-shadow: 0 0 50px #0ef;
}

.image{
    position: absolute;
    top: 200px;
    right: 15%;
    width: 350px;
    height: 400px;
    border-radius: 50%;
    box-shadow: 0 0 40px #0ef;
}

@keyframes slideRight {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;        ;
    }
}
@keyframes slideLeft {
    0% {
        transform: translateY(-100px) ;
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}


@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px) ;
        opacity: 1;
    }
}
@keyframes slideBottom {
    0% {
        transform: translateY(-100px) ;
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}


.about{
    
    display: grid;
    height: 100vh;

    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}


.about-img {
    
    max-width: 630px;
    height: auto;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 0  10px #0ef;
}

.about-text h3{
    font-size: 60px;
}

.about-text h3 span{
    color: #0ef;
}

.about-text p{
    letter-spacing: 1px;
    line-height: 1.4;
}


section{
    
    display: flex;
    flex-wrap: wrap;
}


.skills-text {
    font-size: 60px;
    text-align: center;
}

.skills-text span{
    color: #0ef;
}

.heading1 span{
    color: #0ef;

}




.container1{
    width: 600px;
    height: 500px;
    padding: 75px 90px;
    margin-left: 120px;
}

.heading1{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
}

.bar{
    font-size: 25px;
}

.technical-bar .bar{
    margin-top: 40px 0;
}
.technical-bar .bar:first-child{
    margin-top: 0;
}
.technical-bar .bar:last-child{
    margin-bottom: 0;
}

.technical-bar .bar .info{
    margin-bottom: 5px;
}

.technical-bar .bar .info span{
    font-size: 17px;
    font-weight: 500;
    animation: showText 1s 1s linear forwards;
    opacity: 0;
}

.technical-bar .bar .progress-line{
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: black;
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left ;
}
@keyframes animate{
    100%{
        transform: scaleX(1);
    }
}



.technical-bar .bar .progress-line span{
    height: 100%;
    background-color: #0ef;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

.progress-line.Python span{
    width: 90%;
}
.progress-line.HTML span{
    width: 80%;
}
.progress-line.CSS3 span{
    width: 80%;
}
.progress-line.JavaScript span{
    width: 70%;
}
.progress-line.SQL span{
    width: 75%;
}
.progress-line.DSA span{
    width: 70%;
}

.progress-line span::after{
    position: absolute;
    padding: 1px 8px;
    background-color: black;
    color: white;
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: 20px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;

}


@keyframes showText{
    100%{
        opacity: 1;

    }
}




.progress-line.Python span::after{
    content: "90%";
}
.progress-line.HTML span::after{
    content: "80%";
}
.progress-line.CSS3 span::after{
    content: "80";
}
.progress-line.JavaScript span::after{
    content: "70%";
}
.progress-line.SQL span::after{
    content: "75%";
}
.progress-line.DSA span::after{
    content: "70%";
}


.progress-line span::before{
    content:"";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: black;
    top: -10px;
    right: 0;
    animation: showText .5s 1.5s linear forwards;
    opacity: 0;
}


.radial-bars{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.radial-bars .radial-bar{
    width: 50%;
    height: 170px;
    margin-bottom: 10px;
    position: relative;

}

.radial-bars .radial-bar svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 120px;
    height: 160px;
}

.radial-bars .radial-bar .progress-bar{
    stroke-width: 10;
    stop-color: black;
    fill: transparent;
    stroke-dasharray: 502 ;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animation-bar 1s linear forwards;


}


@keyframes animation-bar{
    100%{
        stroke-dashoffset: -1;
    }
}

.path{
    stroke-width: 10;
    stroke: #0ef ;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502; 
    stroke-linecap: round;
}

.path-1{animation: animation-path1 1s 1s linear forwards;}
.path-2{animation: animation-path2 1s 1s linear forwards;}
.path-3{animation: animation-path3 1s 1s linear forwards;}
.path-4{animation: animation-path4 1s 1s linear forwards;}

@keyframes animation-path1{
    100%{
        stroke-dashoffset: 40;
    }
}
@keyframes animation-path2{
    100%{
        stroke-dashoffset: 60;
    }
}
@keyframes animation-path3{
    100%{
        stroke-dashoffset:80;
    }
}
@keyframes animation-path4{
    100%{
        stroke-dashoffset: 00;
    }
}

.radial-bar .Percentage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText .5s 1s linear forwards;
    opacity: 0;
}


.radial-bar .text{
    width: 100%;
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50px);
    font-size: 17px;
    font-weight: 500;
    animation: showText .5s 1s linear forwards;
    opacity: 0;

}






footer{
    background-color: black;
    color: rgb(143, 141, 141);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.main-sec{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.main-text{
    padding-top: 100px;
    margin-top: 10px;
}
.main-text h1{
    font-size: 60px;
    line-height: 1;
    text-align: center;
}
.main-text h1 span{
    color: #0ef;
    font-size: 70px;
}
.portfolio-content{
    display: grid;
    
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

}
.row{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}

.row img{
    width: 100%;
   
    border-radius: 8px;
    display: inline;
    transition: transform 0.5s;

}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.1),rgb(114, 222, 230));
    position: absolute;
    border-radius: 10px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0px;
    transition: height 0.5s;
}

.layer h5{
    color: rgb(247, 242, 242);
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;

}


.layer p{
    color: rgb(0, 0, 0);
    font-size: 1rem;
    line-height: 1.8;

}

.layer i{
    color: rgb(155, 9, 9);
    margin-top: 20px;
    font-size: 20px;
    background: #010000;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.row:hover img{
    transform: scale(2);
}

.row:hover .layer{
    height: 100%;
}


.contact{
    padding-top: 10px;
    margin-top: 10px;
}


.contact h1 span{
    color: #0ef;
    font-size: 70px;
}

.contact-sec{
    display: grid;
    grid-template-columns: repeat(2, lfr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    margin-top: 130px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.contact h1{
    font-size: 60px;
    line-height: 1;
    text-align: center;
}

.contact h4{
    margin: 15px 0;
    color: white;
    font-size: 20px;
    font-weight: 600;
    
}

.contact-list{
    margin-bottom: 3rem;
}

.contact-list i{
    display: inline-block;
    color: #0ef;
    font-size: 20px;
    font-weight: 600;
    transition: all 0.4s ease;
}

.contact-list li a:hover{
    transform: scale(1.01) translateY(-5px);
    color: #0ef;
}


.contact-icons i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.25 * var(--i));
}

.contact-icons i:hover{
    background: #0ef;
    color: #010000;
    box-shadow: 0 0 20px #0ef;

}


.contact-form{
    position: relative;
}


.contact-form form input,form textarea{
    border: none;
    outline: none;
    width: 90%;
    padding: 18px;
    background: #555557;
    color: #010000;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1.5s;
}

.contact-form textarea{
    resize: none;
    height: 220px;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1.5s;

}

.contact-form form .send{
    display: inline-block;
    padding: 12px 30px;
    background-color:#0ef;
    border-radius: 40px;
    font-size: 20px;
    letter-spacing: 1px;
    color: black;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1.5s;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef

}

.contact-form form .send:hover{
    background-color: #0ef;
    color: black;
    box-shadow: 0 0 50px #0ef;

}

