*{
    font-family: monospace;
}

body{
    margin: 0;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    
   
}

h1{
    color: #3b9ceb;
    font-size: 4rem;
}
header h1{
    margin: 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20%;
}

header{
    height: 100vh;
    background-color: #3b9ceb;
    color: rgb(245, 245, 246);
    
    
}
.button:hover{
    background-color: rgb(10, 79, 132);
    color: aliceblue;
}

.button{
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

img{
    height: 200px;
}

section{
    height: 100vh;
   background-color: rgb(214, 230, 253);
}

main section .about{
    padding-top: 100px;

}


    
    


.submit{
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color:#3b9ceb;
    color: black;

}
.submit:hover{
    background-color: #1a73bc;
    color: rgb(255, 255, 255);

}

textarea{
    width: 50%;
}

footer{
    background-color: black;
    color: lightgray;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}